<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="main">
      <div class="restaurants">
        <div class="block">
          <div class="block__left wow fadeInLeft">
            <div class="images" style="background-image: url('../../images/hero_1.jpeg')">

            </div>
          </div>
          <div class="block__right wow fadeInRight">
            <div class="content">
              <h2 class="content__title">
                The Restaurant
              </h2>
              <p class="content__norm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae neque quisquam at deserunt ab
                praesentium architecto tempore saepe animi voluptatem molestias, eveniet aut laudantium alias,
                laboriosam excepturi, et numquam? Atque tempore iure tenetur perspiciatis, aliquam, asperiores aut odio
                accusamus, unde libero dignissimos quod aliquid neque et illo vero nesciunt. Sunt!

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iure reprehenderit nihil nobis laboriosam
                beatae assumenda tempore, magni ducimus abentey.
              </p>
              <div class="content__button">
                <button class="button waves-effect waves-light">
                  OUR HISTORY
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="today">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="heading wow fadeInUp">
                <div class="content">
                  <h2 class="content__title">
                    Today's Menu
                  </h2>
                  <p class="content__norm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a
                    maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora
                    consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni perspiciatis, voluptatum
                    repellat.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box__item wow fadeInUp">
              <div class="images" style="background-image: url('../../images/gallery_9.jpeg')">
              </div>
              <div class="content">
                <h2 class="content__title">
                  Bake Potato Pizza
                </h2>
                <h3 class="content__price">
                  $20.50
                </h3>
                <p class="content__norm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat
                  inventore molestias vel suscipit explicabo.
                </p>
              </div>
            </div>
            <div class="box__item wow fadeInUp">
              <div class="images" style="background-image: url('../../images/gallery_8.jpeg')">
              </div>
              <div class="content">
                <h2 class="content__title">
                  Bake Potato Pizza
                </h2>
                <h3 class="content__price">
                  $20.50
                </h3>
                <p class="content__norm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat
                  inventore molestias vel suscipit explicabo.
                </p>
              </div>
            </div>
            <div class="box__item wow fadeInUp">
              <div class="images" style="background-image: url('../../images/gallery_7.jpeg')">
              </div>
              <div class="content">
                <h2 class="content__title">
                  Bake Potato Pizza
                </h2>
                <h3 class="content__price">
                  $20.50
                </h3>
                <p class="content__norm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat
                  inventore molestias vel suscipit explicabo.
                </p>
              </div>
            </div>
            <div class="box__item wow fadeInUp">
              <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
              </div>
              <div class="content">
                <h2 class="content__title">
                  Bake Potato Pizza
                </h2>
                <h3 class="content__price">
                  $20.50
                </h3>
                <p class="content__norm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut vero alias quaerat
                  inventore molestias vel suscipit explicabo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimony">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="heading wow fadeInUp">
                <div class="content">
                  <h2 class="content__title">
                    Testimony
                  </h2>
                  <p class="content__norm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a
                    maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora
                    consequuntur ipsam, itaque, nesciunt similique commodi omnis.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="images wow fadeInLeft" style="background-image: url('../../images/person_1.jpg')">

            </div>
            <div class="content ">
              <h2 class="content__title wow fadeInRight">
                “ Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam,
                a
                maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora
                consequuntur ipsam. ”
              </h2>
              <p class="content__author wow fadeInRight">
                — Jane Smith
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="our">
        <div class="container-fluid">
          <div class="block">
            <div class="block__left">
              <div class="row">
                <div class="col-lg-8 offset-lg-1">
                  <div class="heading">
                    <div class="content">
                      <h2 class="content__title">
                        Our Best & Unique Menu
                      </h2>
                      <p class="content__norm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque
                        totam, a
                        maiores nihil, nulla magnam porro minima officiis!
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="info">
                <div class="content">
                  <h2 class="content__title">
                    Crab with Curry Sources
                  </h2>
                  <p class="content__norm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eveniet quae, numquam magnam
                    doloribus
                    eligendi ratione rem, consequatur quos natus voluptates est totam magni! Nobis a temporibus, ipsum
                    repudiandae dolorum.
                  </p>
                  <div class="content__button">
                    <button class="button waves-effect waves-light">
                      LEARN MORE
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="block__right">
              <div class="slider">
                <div class="slider__item">
                  <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">

                  </div>
                </div>
                <div class="slider__item">
                  <div class="images" style="background-image: url('../../images/gallery_7.jpeg')">

                  </div>
                </div>
                <div class="slider__item">
                  <div class="images" style="background-image: url('../../images/gallery_7.jpeg')">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="events">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="heading text-center wow fadeInUp">
                <div class="content">
                  <h2 class="content__title">
                    Events
                  </h2>
                  <p class="content__norm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consequatur. Aliquam quaerat
                    pariatur
                    repellendus veniam nemo, saepe, culpa eius aspernatur cumque suscipit quae nobis illo tempora. Eum
                    veniam necessitatibus, blanditiis facilis quidem dolore! Dolorem, molestiae.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="row">
              <div class="col-lg-4">
                <div class="box__item wow fadeInUp">
                  <div class="images" style="background-image: url('../../images/gallery_1.jpeg')">

                  </div>
                  <div class="content">
                    <h2 class="content__title">
                      Photoshoot On The Street
                    </h2>
                    <p class="content__norm">
                      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live
                      the blind texts.
                    </p>
                    <div class="social">
                      <div class="social__left">
                        <div class="item">
                          <p class="item__norm"><i class="far fa-heart"></i> 1.2K</p>
                        </div>
                        <div class="item">
                          <p class="item__norm"><i class="fas fa-eye"></i> 1.2K</p>
                        </div>
                      </div>
                      <div class="social__right">
                        <a href="#" class="link">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="box__item wow fadeInUp">
                  <div class="images" style="background-image: url('../../images/gallery_1.jpeg')">

                  </div>
                  <div class="content">
                    <h2 class="content__title">
                      Photoshoot On The Street
                    </h2>
                    <p class="content__norm">
                      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live
                      the blind texts.
                    </p>
                    <div class="social">
                      <div class="social__left">
                        <div class="item">
                          <p class="item__norm"><i class="far fa-heart"></i> 1.2K</p>
                        </div>
                        <div class="item">
                          <p class="item__norm"><i class="fas fa-eye"></i> 1.2K</p>
                        </div>
                      </div>
                      <div class="social__right">
                        <a href="#" class="link">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="box__item wow fadeInUp">
                  <div class="images" style="background-image: url('../../images/gallery_1.jpeg')">

                  </div>
                  <div class="content">
                    <h2 class="content__title">
                      Photoshoot On The Street
                    </h2>
                    <p class="content__norm">
                      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                      live
                      the blind texts.
                    </p>
                    <div class="social">
                      <div class="social__left">
                        <div class="item">
                          <p class="item__norm"><i class="far fa-heart"></i> 1.2K</p>
                        </div>
                        <div class="item">
                          <p class="item__norm"><i class="fas fa-eye"></i> 1.2K</p>
                        </div>
                      </div>
                      <div class="social__right">
                        <a href="#" class="link">
                          Read More
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="book">
        <div class="overlay"></div>
        <div class="content text-center">
          <h2 class="content__title wow fadeInUp">
            Book a Table
          </h2>
          <p class="content__norm wow fadeInUp">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate, sequi quam
            ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime odio? Eaque!
          </p>
          <div class="content__button wow fadeInUp">
            <button class="button waves-effect waves-light">
              BOOK NOW
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>