<!doctype html>
<html lang="en">

<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>

<body>
    <div class="wrapper">
        <!-- include header.html -->
        @@include('../layouts/header.html')

        <!-- include banner.html -->
        @@include('../partials/banner.html')

        <main class="main">
            <div class="today">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading wow fadeInUp">
                                <div class="content">
                                    <h2 class="content__title">
                                        Our Delicous Menu
                                    </h2>
                                    <p class="content__norm">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis
                                        sit itaque totam, a
                                        maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates
                                        corporis et tempora
                                        consequuntur ipsam, itaque, nesciunt similique commodi omnis. Ad magni
                                        perspiciatis, voluptatum
                                        repellat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_9.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_8.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_7.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                        <div class="box__item wow fadeInUp">
                            <div class="images" style="background-image: url('../../images/gallery_6.jpeg')">
                            </div>
                            <div class="content">
                                <h2 class="content__title">
                                    Bake Potato Pizza
                                </h2>
                                <h3 class="content__price">
                                    $20.50
                                </h3>
                                <p class="content__norm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nihil cupiditate ut
                                    vero alias quaerat
                                    inventore molestias vel suscipit explicabo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimony">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading wow fadeInUp">
                                <div class="content">
                                    <h2 class="content__title">
                                        Testimony
                                    </h2>
                                    <p class="content__norm">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis
                                        sit itaque totam, a
                                        maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates
                                        corporis et tempora
                                        consequuntur ipsam, itaque, nesciunt similique commodi omnis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="images wow fadeInLeft" style="background-image: url('../../images/person_1.jpg')">

                        </div>
                        <div class="content ">
                            <h2 class="content__title wow fadeInRight">
                                “ Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit
                                itaque totam,
                                a
                                maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis
                                et tempora
                                consequuntur ipsam. ”
                            </h2>
                            <p class="content__author wow fadeInRight">
                                — Jane Smith
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="overlay"></div>
                <div class="content text-center">
                    <h2 class="content__title wow fadeInUp">
                        Book a Table
                    </h2>
                    <p class="content__norm wow fadeInUp">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate,
                        sequi quam
                        ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime
                        odio? Eaque!
                    </p>
                    <div class="content__button wow fadeInUp">
                        <button class="button waves-effect waves-light">
                            BOOK NOW
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <!-- include footer.html -->
        @@include('../layouts/footer.html')
    </div>

    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
</body>

</html>