<!doctype html>
<html lang="en">

<head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
</head>

<body>
    <div class="wrapper">
        <!-- include header.html -->
        @@include('../layouts/header.html')

        <!-- include banner.html -->
        @@include('../partials/banner.html')

        <main class="main">
            <div class="reservation">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading wow fadeInUp">
                                <div class="content">
                                    <h2 class="content__title">
                                        Reservation
                                    </h2>
                                    <p class="content__norm">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis
                                        sit itaque totam, a
                                        maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates
                                        corporis et tempora
                                        consequuntur ipsam, itaque, nesciunt similique commodi omnis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-lg-6 col-lg-6">
                            <form class="form">
                                <div class="form__group">
                                    <lable class="lable">
                                        YOUR NAME
                                    </lable>
                                    <br />
                                    <input type="text" class="input" />
                                </div>
                                <div class="form__group">
                                    <lable class="lable">
                                        HOW MANY PEOPLE
                                    </lable>
                                    <br />
                                    <select class="input--select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <lable class="lable" for="taskdatetime">
                                        WHEN
                                    </lable>
                                    <br />
                                    <input type="text" name="task-datetime" id="taskdatetime" class="input" />
                                </div>
                                <div class="form__group">
                                    <input type="submit" class="input--submit" value="SUBMIT FORM" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimony">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="heading wow fadeInUp">
                                <div class="content">
                                    <h2 class="content__title">
                                        Testimony
                                    </h2>
                                    <p class="content__norm">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis
                                        sit itaque totam, a
                                        maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates
                                        corporis et tempora
                                        consequuntur ipsam, itaque, nesciunt similique commodi omnis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="images wow fadeInLeft" style="background-image: url('../../images/person_1.jpg')">

                        </div>
                        <div class="content ">
                            <h2 class="content__title wow fadeInRight">
                                “ Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit
                                itaque totam,
                                a
                                maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis
                                et tempora
                                consequuntur ipsam. ”
                            </h2>
                            <p class="content__author wow fadeInRight">
                                — Jane Smith
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book">
                <div class="overlay"></div>
                <div class="content text-center">
                    <h2 class="content__title wow fadeInUp">
                        Book a Table
                    </h2>
                    <p class="content__norm wow fadeInUp">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate,
                        sequi quam
                        ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime
                        odio? Eaque!
                    </p>
                    <div class="content__button wow fadeInUp">
                        <button class="button waves-effect waves-light">
                            BOOK NOW
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <!-- include footer.html -->
        @@include('../layouts/footer.html')
    </div>

    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
</body>

</html>