// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
$screen-md: 768px;
$screen-xs: 992px;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese");
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/CormorantGaramond/CormorantGaramond-Bold.ttf");
}
@font-face {
  font-family: "Cormorant Regular";
  src: url("../fonts/CormorantGaramond/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: "satisfy";
  src: url("../fonts/Satisfy-Regular.ttf");
}

// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/fonts";
@import "base/utility";
@import "base/button";
@import "base/waves";
@import "base/animate";
@import "base/slick-theme";
@import "base/slick";
// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/header";
@import "layout/footer";

// ----------------------------------------------------------------------
// Custom
// ----------------------------------------------------------------------
@import "custom/custom-plugin";

// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "pages/homepage";

// ----------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------
@import "responsive/responsive";
