<footer class="footer">
    <div class="container">
        <div class="footer__menu">
            <div class="row">
                <div class="col-lg-5">
                    <div class="item">
                        <h2 class="item__title">
                            TASTY
                        </h2>
                        <p class="item__norm">
                            Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
                            adipisci architecto culpa amet.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="item">
                        <h2 class="item__title">
                            LINKS
                        </h2>
                        <div class="menu">
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="item">
                        <h2 class="item__title">
                            LINKS
                        </h2>
                        <div class="menu">
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="item">
                        <h2 class="item__title">
                            LINKS
                        </h2>
                        <div class="menu">
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                            <div class="item__item">
                                <a href="#" class="item__link">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__content">
            <div class="content text-center">
                <p class="content__norm">
                    © 2016 Free HTML5. All Rights Reserved.
                </p>
                <p class="content__norm">
                    Designed by FreeHTML5.co Demo Images: Unsplash
                </p>
                <div class="social">
                    <div class="item">
                        <a href="#" class="item__link">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="item__link">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="item__link">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="item__link">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>