<header class="header header--scroll" id="scroll">
    <div class="block">
        <div class="logo text-center">
            <a href="#" class="logo__link">
                Tasty<span class="logo--current">.</span>
            </a>
        </div>
    </div>
    <div class="menu text-center">
        <nav class="menu-offcanvas">
            <ul>
                <li class="item">
                    <a href="#" class="item__link">Home</a>
                </li>
                <li class="item">
                    <a href="#" class="item__link">Menu</a>
                </li>
                <li class="item">
                    <a href="#" class="item__link">Galary</a>
                </li>
                <li class="item">
                    <a href="#" class="item__link">Reservation</a>
                </li>
                <li class="item">
                    <a href="#" class="item__link">About</a>
                </li>
                <li class="item">
                    <a href="#" class="item__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>